body {
    font-family: Tahoma;
    font-size: 13px;
    width: 1000px
    margin: 0px auto;

}
h1{
    text-align: center;
}
#menu_top {
    background: #141414;
    height: 40px;
    width: 1000px
}
#banner {
    background: red;
    height: auto;
    width: 1000px;
}
#main #left {
    width: 750px;
    float: left;
}
#main #right {
    width: 250px;
    float: left;
    min-height:400px;
}
#footer {
    background:#000;
    width: 1000px;
    text-align: center;
    height: 60px;
    color: #FFF;
    clear: left;
    line-height:60px;
}
#menu_top ul {
    margin: 0px;
    padding:0px;
}
#menu_top ul li {
    list-style: none;
    float: left;
}
#menu_top ul li a {
    text-decaration: none;
    display: black;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    padding: 0px 50px 0px 50px;
    border-right: 1px solid #ccc;
}
#menu_top ul li a.active {
    background: #1949b5;
    height: 40px;
}
#banner img{
    width: 1000px;
}
#main img{
    width: 150px;
}
#main #left ul {
    margin: 0px;
    padding: 0px;
}
#main #left ul li {
   list-style: none;
   clear: left;
   border-bottom: 2px solid #ccc;
}
#main #left ul li img {
   float: left;
   margin-right: 10px;
   margin-bottom: 20px;
}
#main #left ul li h2 {
   font-size: 16px;
   margin-top: 0px;
}
#main {
    margin-top: 20px;
}
#main #right .menu_right ul {
    margin: 0px;
    padding: 0px;
}
#main #right .menu_right ul li {
   list-style: none;
}
#main #right .menu_right h3 {
   background: #194d58;
   height: 40px;
   margin-top: 0px;
   text-align: center;
   font-size: 14px;
   line-height: 40px;
   color: #848484;
}
#main #right .menu_right ul li a {
    display: block;
    text-decoration: none;
    line-height: px;
    height: 40px;
    border-bottom: 1px solid #ccc;
    text-indent: 25px;
    color: #848484;
    font-size: 14px;
}